
div.rightaddons label{
	float:right;
	display:inline;
}
div.rightaddons label a{
	padding-top:25px;
}
div.dataTables_length label {
	float: right;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table {
	margin: 1em 0;
	clear: both;
}

table.dataTable th:active {
	outline: none;
}
.activerow{
	background-color:#C2DFFF!important;
}
div.leftaddons{
	float:left;
}
div.leftaddons label{
	display:inline;
}
div.leftaddons label a{
	padding-top:25px;
}